.card_automatica_title{
    background-color: $bg_section;
    margin-bottom: 50px;
    padding-top: 45px;
    overflow: hidden;
    position: relative;
    @media(min-width:872px){
        padding-top: 0;
        margin-bottom: 120px;
    }
    img{
        position: absolute;
        z-index: 2;
        max-width: 100%;
        bottom: 0;
        left: 60%;
        opacity: .5;
        @media (min-width:480px){
            max-width: 80%;
            left: 50%;
            opacity: .9;
        }
        @media (min-width:769px){
            position: static;
            max-width: none;
            opacity: 1;
        }
    }
    .garantee{
        bottom: 40%;
        @media (min-width:480px){
            position: static;
            max-width: none;
            opacity: 1;
        }
        @media(min-width:769px){
            display: none;
        }
    }
}
.automatica-inset{
    padding-bottom: 40px;
    border-bottom: 2px solid $bg_section; 
    margin-bottom: 110px;
}
.inset-title{
    margin-bottom: 50px;
}
.inset-format{
    @include text-style_main($weight_light, $font-gray, 26px);
    margin-bottom: 5px;
}
.toggle{
    margin-bottom: 50px;
}
.inset-items{
    @include flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 15px;
    flex-wrap: nowrap;
    white-space: nowrap;
    overflow-x: visible;
    overflow-y: hidden;
    @media(min-width:1024px){
        flex-wrap: wrap;
        white-space: normal;
        overflow: hidden;
    }
}
.inset-item{
    width: 75%;    
    @media(min-width:1024px){
        width: calc((100% - 105px) / 4);    
    }
    img{
        margin-bottom: 15px;
    }
}

.inset-item-name{
    @include text-style_main($weight_normal, $font_h2, 26px);
    min-height: 90px;
    white-space: normal;

    // padding-left: 10px; //?
}
.inset-order{
    text-align: right;
    button{
        display: inline;
    }
}
.inset-img-container{
    width: 265px;
    height: 195px;
    @include flex;
    justify-content: center;
    align-items: center;
    background-color: $bg_section;
}
.item-width{
    width: 245px;
    box-sizing: border-box;
    padding: 12px 0 12px 25px;
    background-color: $bg_section;
    outline: none;
    border: 1px solid $button_inactive;
    box-shadow: none;
    margin-right: 7px;
    font-family: $main_font;
    font-weight: $weight_normal;
    font-size: 18px;
    color: $font_black;
    letter-spacing: 0;

    &::-moz-placeholder {
        @include text-style_main($weight_normal, $font_black, 18px);
        opacity: 1;
	}
	&::-webkit-input-placeholder {
        @include text-style_main($weight_normal, $font_black, 18px);
        opacity: 1;
	}
}
.item-width + i{
    color: $button_normal;
    cursor: pointer;
}


.automatica-more {
    @media (max-width:930px){
        .main_benefits_container{
            white-space: nowrap;
            overflow-x: visible;
            overflow-y: hidden;
            vertical-align: top;
            flex-wrap: nowrap;
        }
    }
}
.automatica-more-title{
    margin-bottom: 60px;
}
.automatica_benefits_icon{
    height: 40px;
}
.main_benefits_single:last-of-type > .automatica_benefits_icon{
    padding: 10px;
}
.automatica-more{
    .main_benefits_single{
    margin-bottom: 30px;
    @media(min-width:769px){
        margin-bottom: 140px;
    }
        h3{
        margin-bottom: 15px;
        min-height: 70px;
        @media(min-width:1201px){
            min-height: auto;
        }
        }
    }
}


.automatica-install{
    background-color: $bg_section;
.automatica-instruction{
    padding: 27px 0;
}
    @include text-style_main($weight_light, $font_black, 22px);
    span{
        margin-right: 25px;
        font-size: 16px;
        padding: 15px 0;
        display: inline-block;
        @media(min-width: 768px){
            font-size: 18px;
            padding: 0;
        }
    }
    button{
        display: inline-block;
    }
}

.economy{
    background-color: $bg_black;
    color: $font_white;
    //mobile
    padding: 50px 0;
}
.economy-title{
    margin-bottom: 15px;
    color: $bg_white;
}
.economy-items{
    @include flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    //mobile
    flex-wrap: wrap;
    
}
.economy-item{
    @include flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: flex-start;
    //mobile
    max-width: calc(40% - 15px);
    min-height: 200px;
    max-height: 345px;
    // @media (min-width: 364px){
    //     height: 250px;
    //     // &:nth-of-type(2){
    //     //     height: 228px;
    //     // }
    // }
    // @media (min-width: 480px){
    //     height: 260px;
    //     // &:nth-of-type(2){
    //     //     height: 238px;
    //     // }
    // }
    // @media (min-width: 503px){
    //     height: 300px;
    //     // &:nth-of-type(2){
    //     //     height: 300px;
    //     // }
    // }
    @media (min-width: 625px){
        height: 345px;
    //     // &:nth-of-type(2){
    //     //     height: 345px;
    //     // }
    }
    img{
        width: 100%;
        height: auto;
        margin-bottom: 30px;
    }
}
.math{
    font-size: 35px;
    line-height: 36px;
    color: $font_white;
    font-weight: $weight_normal;
    display: inline-block;
    text-align: middle;
    //mobile
    padding: 0 15px;
    &:last-of-type{
        display: none;
    }
    @media(min-width: 775px){
        padding: 0 20px;
        &:last-of-type{
            display: inline-block;
        }
    }
}
.economy-item-title{
    @include text-style_main($weight_normal, $font_white, 22px);
    padding-top: 10px;
    border-top: 2px solid $font-gray;
    //mobile    
    font-size: 14px;
}
.economy_deal{
    @include flex;
    flex-direction: column;
    justify-content: flex-end;
    //mobile
    padding-top: 40px;
    align-items: center;
}
.economy-price{
    @extend .automatica_set-price;
    color: $font_white;
}
.economy-last-price{
    display: block;
    text-decoration: line-through;
    @include text-style_main($weight_light, $font_white, 22px);
    margin-bottom: 10px;
    
}

@media(min-width: 846px){
    .economy-item-title{
        font-size: 18px;
     }
     .economy_deal{
         height: 345px;
         button{
             margin-bottom: 34px;
         }
     }
     .economy-prices{
         margin-bottom: 60px;
     }
}
@media(min-width:872px){
    .economy{
        padding: 120px 0 50px;
    }
    .economy-items{
        flex-wrap: nowrap;
    }
    .economy-item{
        max-width: none;
        // img{
        //     width: 100%;
        //     height: auto;
        // }
    }
    .economy_deal{
        // height: 345px;
        // padding: 18px 0 32px;
        align-items: center; //?
        button{
            margin-bottom: 34px;
        }
    }
    .economy-prices{
        margin-bottom: 60px;
    }
}

@media(min-width:1024px){    
    .math{
        padding: 0 50px;
    }
}