.comment{
    background-color: $bg_section;
    padding: 45px 0 150px;
}
.comment-title{
    margin-bottom: 75px;
}
.comment-form{
    width: 670px;
    @include flex;
    flex-wrap: wrap;
    input, textarea, select{
        width: 100%;
        padding: 10px 20px;
        border: 1px solid $font-gray;
        box-sizing: border-box;
        @include text-style_main($weight_normal, $font_black, 22px);
        &::-moz-placeholder {
            opacity: 1;
        }
        &::-webkit-input-placeholder {
            opacity: 1;
        }
        &:placeholder-shown{
            border: 1px solid $font-gray;
        }
        // &:invalid{
        //     border: none;
        // }
    }
    textarea{        
        resize: none;
        margin-bottom: 50px;   
    }
}
.comment-inputs{
    min-width: 55%;
    width: 55%;
    input, select{
        display: block;
        margin-bottom: 35px;
    }
    select{
        // border: none;
        box-shadow: none;
        -webkit-appearance: none;
        option{
            display: block;
            width: 100%;
            padding: 0;
            outline: none;
            border: 1px solid $bg_white;
            border-top-color: $button_inactive;
            @include transition(border-color);
            // padding: 10px 20px;
            &:last-of-type{
                border-bottom-color: $button_inactive;
            }
            &:hover{
                border: 1px solid $button_hover;
                background-color: $bg_white;
            }
        }
    }
}
.comment-dropfiles{
    width: calc(45% - 35px);
    margin-left: 35px;
    height: 210px;
    border: 1px dashed $font-gray;
    padding: 15px 20px;
    cursor: pointer;
    b, span{
        display: block;
        @include text-style_main($weight_normal, $font_black, 22px);
    }
    span{
        font-weight: $weight_light;
        &:nth-of-type(2){
            margin: 20px 0;
        }

    }
}

.comment-btn{
    width: 280px;
    margin-right: 40px;
}
.comment-requiremence{
    @include text-style_main($weight_normal, $font_gray, 46px);
}

.comment-select{
    width: 100%;
    button{
        display: block;
        width: 100%;
        @include text-style_main($weight_normal, $font_black, 22px);
        padding: 10px 20px;
        // border: 1px solid $font-gray;
        box-sizing: border-box;
        margin-bottom: 35px;
        background-color: $bg_white;
        position: relative;
        &:hover{
            background-color: $bg_white;
        }
        &::after{
            font-family: "material-design-iconic-font";
            content: '\f2f9';
            // '\f2fc'
            position: absolute;
            display: block;
            top: calc(50% - 10px);
            right: 20px;
        }
    }
    .dropdown-content{
        top: 46px;
        background-color: $bg_white;
        width: 100%;
        a{
            box-sizing: border-box;
            border: 1px solid $bg_white;
            border-top-color: $button_inactive;
            @include transition(border-color);
            &:last-of-type{
                border-bottom-color: $button_inactive;
            }
            &:hover{
                border: 1px solid $button_hover;
                background-color: $bg_white;
            }
        }
        
    }
}