@import 'reset';
// FONT
@font-face {
    font-family:'ProximaNovaRegular';
    src: url('../fonts/ProximaNovaRegular.otf');
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family:'MuseoSansCyrl';
    src: url('../fonts/MuseoSansCyrl.otf');
    font-style: normal;
    font-stretch: normal;
}

// @include font-face(MuseoSansCyrl, fonts/MuseoSansCyrl);
// @include font-face(ProximaNovaRegular, fonts/ProximaNovaRegular);

// colors
$button: rgb(0,113,186);
$button_hover: rgb(0,99,166);
$button_inactive: rgb(221,221,221);
$button_border: rgb(0,113,186);

// BUTTONS

%btn_big{
    display: block;
    width: 200px;
    height: 35px;
	cursor: pointer;
    border-style: solid;
    border-width: 1px;
    border-color: $button;
    background-color: rgb(255,255,255);
    box-sizing: border-box;
    color: $button;
	font-size: 18px;
    text-decoration: none;
    font-weight: bold;
}


.button_short {
    width: 220px;
    height: 46px;
}

// END OF BUTTONS

body {
    margin: 0;
    font-family: MuseoSansCyrl;
    width: 100%;
}

a {
    text-decoration: none;
    color: black;
    :visited {
        color: black;
    }
}

section {
    margin: 0 auto;
    height: 1000px;
    width: 100%;
}