@import 'reset','variables','mixins';

.wrapper{
    max-width: 1200px;
    margin: 0 auto;
}

//titles

h1 {
    font-family: $main_font;
    font-weight: $weight_super-bold;
    font-size: 72px;
    color: $font_white;
    letter-spacing: 2.2px;
    line-height: 112px;
    text-transform: uppercase;
    position: relative;
    &::before{
        content: "";
        position: absolute;
        background-image: url('../img/squares.svg');
        background-repeat: no-repeat;
        background-size: contain;
        width: 40px;
        height: 13px;
        left: 7px;
        bottom: 0;
    }
}

h2 {
    font-family: $main_font;
    font-weight: $weight_bold;
    font-size: 48px;
    color: $font_h2;
    letter-spacing: 0px;
    line-height: 57px;
    position: relative;
    &::before{
        content: "";
        position: absolute;
        background-image: url('../img/squares.svg');
        background-repeat: no-repeat;
        background-size: contain;
        width: 40px;
        height: 10px;
        left: 4px;
        bottom: -10px;
    }
}

h3 {
    font-family: $main_font;
    font-weight: $weight_normal;
    font-size: 24px;
    color: $font_white;
    line-height: 34px;
}

.dots{
    position: relative;
    margin-left: 50px;
    text-transform: uppercase;
    &::before{
       content: "";
        position: absolute;
        background-image: url('../img/squares.svg');
        background-repeat: no-repeat;
        background-size: contain;
        width: 40px;
        height: 10px;
        left: -50px;
        bottom: 9px; 
    }
}


// BUTTONS

%btn_big{
    width: 225px;
    height: 35px;
	cursor: pointer;
    border-style: solid;
    border-width: 1px;
    border-color: $button_normal;
    background-color: rgb(255,255,255);
    box-sizing: border-box;
    color: $button_normal;
	font-size: 18px;
    text-decoration: none;
    font-weight: bold;
}


.button_short {
    width: 220px;
    height: 46px;
}
// END OF BUTTONS

body {
    margin: 0;
    font-family: $main_font;
    width: 100%;
}

a {
    text-decoration: none;
    color: black;
    :visited {
        color: black;
    }
}

section {
    margin: 0 auto;
    height: 1000px;
    width: 100%;
}


