.main_benefits {
	max-width: 1200px;
	margin: 0 auto;
	padding-top: 150px;
	@include flex;
	justify-content: center;
	align-items: center;
}
.main_benefits_container{
  white-space: nowrap;
  overflow-x: visible;
  overflow-y: hidden;
}
.main_benefits_single{
	display: inline-block;
	width: 300px;
	height: 380px;
	box-sizing: border-box;
	text-align: left;
	margin-bottom: 85px;
	overflow: hidden;
	white-space: normal;
	padding: 0 15px;
	h3 {
		color: $font_black;
		font-weight: $weight_bold;
		margin-top: 50px;
		margin-bottom: 20px;
	}
	p {
		display: block;
		@include text-style_caption;
	}
}
.main_benefits_icon {
    width: 150px;
    height: 110px;
    align-self: flex-start
}
@media screen and (min-width: 769px) {
	.main_benefits_container {
    @include flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
	}
}
@media screen and (min-width: 1200px){
	.main_benefits{
		padding-top: 100px;
	}
	.main_benefits_container{
		justify-content: space-between;
	}
	.main_benefits_single{
		width: 350px;
		padding: 0;
	}
}