.main-page_certificates{
    padding-top: 40px;
    padding-bottom: 15px;
    background-color: $bg_section;
    margin-bottom: 30px;
    @media (min-width:768px){
        padding-top: 120px;
        padding-bottom: 140px;
        margin-bottom: 115px;
    }

    .slider{
        width: auto;
        overflow: hidden;
        }
    .slides{
        margin: 0 auto;
        // height: 100%;
        margin-bottom: 15px;
        @media (min-width:768px){
            margin-bottom: 45px;
        }
    }
    .slide{
        // float: left;
        display: inline-block;
        height: 150px;
        width: 117px;
        margin: 0 5px;
        img{
            display: block;
            height: 100%;
            width: auto;
            filter: brightness(0.9) grayscale(100%);
            @include transition (filter);
            &:hover{
                filter: none;
            }
        }
        @media (min-width:768px){
            height: 347px;
            width: 270px;
            margin: 0 17px;
        }
    }
    .controls{
        text-align: center;
    }
    .slider_btn{
        display: inline-block;
        width: 18px;
        height: 46px;
        color: $button_inactive;
        outline: none;
        border: none;
        background-color: transparent;
        padding: 0;
        svg{
            width: 18px;
            height: 33px;
        }
        &:hover{
            svg > g{
                stroke: $button_normal;
            }
        }
        &:active {
             padding: 0;
        }  
    }
}
.slider_controls-line{
    display: inline-block;
    height: 33px;
    width: 2px;
    background-color: $button_inactive;
    margin: 0 15px;
}

.main-page_certificates_title{
    margin-bottom: 40px;
    @media (min-width:768px){
        margin-bottom: 100px;
    }
}
.main-page_certificates > .slider{
    margin-bottom: 45px;
}

.main-page_certificates_slider{
    .fur-set_slider-controls{
        button{
            background: none;
        }
    }
}