/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button,
input,
optgroup,
select,
textarea, html input[type="button"],
input[type="reset"],
input[type="submit"], button[disabled],
html input[disabled], button::-moz-focus-inner,
input::-moz-focus-inner, input[type="checkbox"],
input[type="radio"], input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button, input[type="search"], input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  border: none;
  background-image: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  outline: none;
}

input:focus::-webkit-input-placeholder {
  color: transparent;
}

input:focus::-moz-placeholder {
  color: transparent;
}

input:focus:-moz-placeholder {
  color: transparent;
}

input:focus:-ms-input-placeholder {
  color: transparent;
}

textarea:focus::-webkit-input-placeholder {
  color: transparent;
}

textarea:focus::-moz-placeholder {
  color: transparent;
}

textarea:focus:-moz-placeholder {
  color: transparent;
}

textarea:focus:-ms-input-placeholder {
  color: transparent;
}

@font-face {
  font-family: "MuseoSansCyrl";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/MuseoSansCyrl.otf") format("opentype");
}

@font-face {
  font-family: "MuseoSansCyrl";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/MuseoSansCyrl_0.otf") format("opentype");
}

@font-face {
  font-family: "MuseoSansCyrl";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/MuseoSansCyrl_1.otf") format("opentype"), url("../fonts/Museosanscyrl500.woff2") format("woff2"), url("../fonts/Museosanscyrl500.woff") format("woff"), url("../fonts/Museosanscyrl500.ttf") format("truetype");
}

@font-face {
  font-family: "MuseoSansCyrl";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/MuseoSansCyrl_2.otf") format("opentype");
}

@font-face {
  font-family: "MuseoSansCyrl";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/MuseoSansCyrl_3.otf") format("opentype");
}

.btn {
  display: block;
  font-family: "MuseoSansCyrl";
  font-weight: 700;
  font-size: 18px;
  color: white;
  letter-spacing: 0;
  line-height: 22px;
  padding: 10px 20px;
  cursor: pointer;
  text-decoration: none;
  background-color: #0071ba;
  position: relative;
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;
  outline: none;
  border: none;
}

.btn:hover {
  background-color: #0063a6;
}

.btn:active {
  top: 1px;
}

.btn:disabled {
  background-color: #dddddd;
}

.btn:disabled:hover {
  top: 0;
}

.ghost_btn {
  display: block;
  font-family: "MuseoSansCyrl";
  font-weight: 700;
  font-size: 18px;
  color: #0071ba;
  letter-spacing: 0;
  line-height: 22px;
  padding: 10px 30px;
  cursor: pointer;
  text-decoration: none;
  background-color: white;
  border: 2px solid #0071ba;
  position: relative;
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;
  outline: none;
}

.ghost_btn:hover {
  color: white;
  background-color: #0063a6;
  border-color: #0063a6;
}

.ghost_btn:active {
  top: 1px;
}

.ghost_btn:disabled {
  border-color: #dddddd;
  color: #dddddd;
  background-color: white;
}

.ghost_btn:disabled:hover {
  top: 0;
}

.ghost_btn i {
  margin-left: 10px;
}

.video_icon, .video-play {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: relative;
  border: none;
  outline: none;
  box-shadow: none;
  padding: 0;
}

.video_icon #Oval, .video-play #Oval {
  -webkit-transition: fill 0.3s;
  -moz-transition: fill 0.3s;
  -o-transition: fill 0.3s;
  transition: fill 0.3s;
}

.video_icon:hover #Oval, .video-play:hover #Oval {
  fill: #0063a6;
}

.video_icon:active, .video-play:active {
  top: 1px;
}

.video_icon:disabled #Oval, .video-play:disabled #Oval {
  fill: #dddddd;
}

.video_icon:disabled:hover, .video-play:disabled:hover {
  top: 0;
}

.toggle {
  display: block;
}

.toggle label {
  font-family: "MuseoSansCyrl";
  font-weight: 700;
  font-size: 18px;
  color: #0071ba;
  letter-spacing: 0;
  line-height: 22px;
  border: 2px solid #0071ba;
  padding: 15px 50px;
  display: inline-block;
  cursor: pointer;
}

.toggle label:last-of-type {
  margin-left: -6px;
}

.toggle input {
  display: none;
}

.toggle input:checked + label {
  background-color: #0071ba;
  color: white;
}

.wrapper {
  width: calc(100% - 30px);
  max-width: 1200px;
  margin: 0 auto;
}

h1 {
  font-family: "MuseoSansCyrl";
  font-weight: 900;
  font-size: 28px;
  line-height: 50px;
  color: white;
  letter-spacing: 2.2px;
  text-transform: uppercase;
  position: relative;
}

h1::before {
  content: "";
  position: absolute;
  background-image: url("../img/squares.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 25px;
  height: 8px;
  left: 0px;
  bottom: 0px;
}

@media (min-width: 480px) {
  h1 {
    font-size: 36px;
    line-height: 60px;
  }
}

@media (min-width: 768px) {
  h1 {
    font-size: 72px;
    line-height: 112px;
  }
  h1::before {
    width: 40px;
    height: 13px;
    left: 7px;
  }
}

h2 {
  font-family: "MuseoSansCyrl";
  font-weight: 700;
  font-size: 24px;
  color: #0d223f;
  letter-spacing: 0px;
  line-height: 33px;
  position: relative;
}

h2::before {
  content: "";
  position: absolute;
  background-image: url("../img/squares.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 40px;
  height: 10px;
  left: 4px;
  bottom: -10px;
}

@media (min-width: 550px) {
  h2 {
    font-size: 48px;
    line-height: 57px;
  }
}

h3 {
  font-family: "MuseoSansCyrl";
  font-weight: 500;
  font-size: 24px;
  line-height: 34px;
  color: white;
}

.dots {
  position: relative;
  text-transform: uppercase;
  margin-left: 40px;
}

.dots::before {
  content: "";
  position: absolute;
  background-image: url("../img/squares.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 30px;
  height: 8px;
  left: -40px;
  bottom: 4px;
}

@media (min-width: 768px) {
  .dots {
    margin-left: 50px;
  }
  .dots::before {
    left: -50px;
    width: 40px;
    height: 11px;
  }
}

.button_short {
  width: 220px;
  height: 46px;
}

body {
  margin: 0;
  font-family: "MuseoSansCyrl";
  width: 100%;
}

a {
  text-decoration: none;
  color: #111820;
}

a :visited {
  color: #111820;
}

.stickytop {
  position: fixed;
  top: 0;
  z-index: 100;
}

.invisible {
  display: none;
}

.header_wrapper_hidebig {
  display: none;
}

.header_wrapper_big {
  display: none;
}

.header_mobile {
  display: -webkit-box;
  /* Safari 3.1 - 6, Chrome < 21 (2009 Spec), UC Browser Android */
  display: -moz-box;
  /* Firefox 2 - 27 (2009 Spec), UC Mini */
  display: -ms-flexbox;
  /* IE10 (2012 Syntax) */
  display: -webkit-flex;
  /* Safari 6.1 - 8, Android < 4.4, BB < 10, Chrome 21 - 28 */
  display: flex;
  /* Edge 12+, Firefox 28+, Blink, Safari 9+, Opera Mini 8+ */
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-width: 320px;
  height: 40px;
  background-color: #111820;
  color: white;
  font-family: "MuseoSansCyrl";
  font-weight: 500;
}

.header_mobile_burger {
  align-self: center;
  width: 32px;
  text-align: center;
}

.header_mobile_logo {
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.header_mobile_cart {
  display: -webkit-box;
  /* Safari 3.1 - 6, Chrome < 21 (2009 Spec), UC Browser Android */
  display: -moz-box;
  /* Firefox 2 - 27 (2009 Spec), UC Mini */
  display: -ms-flexbox;
  /* IE10 (2012 Syntax) */
  display: -webkit-flex;
  /* Safari 6.1 - 8, Android < 4.4, BB < 10, Chrome 21 - 28 */
  display: flex;
  /* Edge 12+, Firefox 28+, Blink, Safari 9+, Opera Mini 8+ */
}

.shopping-cart_number {
  width: 16px;
  height: 16px;
  line-height: 16px;
  border-radius: 50%;
  position: relative;
  top: -10px;
  left: -5px;
  background-color: #0071ba;
  color: white;
  text-align: center;
  font-family: "MuseoSansCyrl";
  font-size: 12px;
  font-weight: 700;
  z-index: 1;
}

.mobile_menu {
  display: none;
  width: 100%;
  height: 300px;
  background-color: #111820;
  color: white;
  top: 40px;
  position: fixed;
  z-index: 100;
}

.mobile_menu_main {
  display: block;
  height: 165px;
  background-color: #111820;
  color: white;
  font-family: "MuseoSansCyrl";
  font-size: 18px;
  font-weight: 300;
}

.mobile_menu_main li {
  display: block;
  margin: 20px;
  font-size: 16px;
  padding-left: 20px;
}

.mobile_menu_main li a {
  text-decoration: none;
  color: white;
}

.mobile_menu_main li a :visited {
  color: white;
}

.mobile_callus {
  display: -webkit-box;
  /* Safari 3.1 - 6, Chrome < 21 (2009 Spec), UC Browser Android */
  display: -moz-box;
  /* Firefox 2 - 27 (2009 Spec), UC Mini */
  display: -ms-flexbox;
  /* IE10 (2012 Syntax) */
  display: -webkit-flex;
  /* Safari 6.1 - 8, Android < 4.4, BB < 10, Chrome 21 - 28 */
  display: flex;
  /* Edge 12+, Firefox 28+, Blink, Safari 9+, Opera Mini 8+ */
  width: 100%;
  justify-content: space-between;
  flex-direction: column;
  align-items: left;
  margin-left: 65px;
}

.mobile_callus span {
  padding-bottom: 5px;
}

.mobile_callus-tel {
  font-weight: 500;
  color: white;
}

.mobile_icon_phone {
  width: 18px;
  height: 18px;
  position: relative;
  top: 25px;
  left: -25px;
}

.mobile_callus-btn {
  margin: 0 auto;
  width: 225px;
  height: 35px;
  margin-left: 40px;
  cursor: pointer;
  border-style: solid;
  border-width: 1px;
  border-color: white;
  background-color: #111820;
  box-sizing: border-box;
  color: white;
  font-size: 18px;
  text-decoration: none;
  font-weight: 300;
}

.mobile_callus-btn:active {
  transform: translateY(1px);
}

@media screen and (min-width: 872px) {
  .header_mobile {
    display: none;
  }
  .mobile_menu {
    display: none;
  }
  .header_wrapper_hidebig {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 40px;
    background-color: #111820;
    color: white;
  }
  .header_wrapper_hidesmall {
    margin: 0 auto;
    max-width: 1200px;
    display: -webkit-box;
    /* Safari 3.1 - 6, Chrome < 21 (2009 Spec), UC Browser Android */
    display: -moz-box;
    /* Firefox 2 - 27 (2009 Spec), UC Mini */
    display: -ms-flexbox;
    /* IE10 (2012 Syntax) */
    display: -webkit-flex;
    /* Safari 6.1 - 8, Android < 4.4, BB < 10, Chrome 21 - 28 */
    display: flex;
    /* Edge 12+, Firefox 28+, Blink, Safari 9+, Opera Mini 8+ */
    font-size: 18px;
    font-weight: 500;
    justify-content: space-between;
    box-sizing: border-box;
    background-color: #111820;
    color: white;
  }
  .header_lang {
    position: relative;
    display: inline-block;
    width: 89px;
    box-sizing: border-box;
    font-size: 18px;
    font-weight: 500;
    line-height: 40px;
  }
  .header_lang_main {
    display: block;
    border-left: solid 1px #353b42;
    border-right: solid 1px #353b42;
    height: 40px;
    line-height: 40px;
    padding-left: 20px;
    color: white;
  }
  .header_lang_content {
    position: absolute;
    background-color: #111820;
    min-width: 89px;
    z-index: 1;
  }
  .header_lang_drop {
    color: white;
    padding-left: 20px;
    height: 40px;
    line-height: 40px;
    display: block;
    border-top: solid 1px #353b42;
  }
  .header_lang_drop:last-of-type {
    border-bottom: solid 1px #353b42;
  }
  .stickytop {
    position: fixed;
    top: 0;
  }
  .invisible {
    display: none;
  }
  .header_callus {
    display: -webkit-box;
    /* Safari 3.1 - 6, Chrome < 21 (2009 Spec), UC Browser Android */
    display: -moz-box;
    /* Firefox 2 - 27 (2009 Spec), UC Mini */
    display: -ms-flexbox;
    /* IE10 (2012 Syntax) */
    display: -webkit-flex;
    /* Safari 6.1 - 8, Android < 4.4, BB < 10, Chrome 21 - 28 */
    display: flex;
    /* Edge 12+, Firefox 28+, Blink, Safari 9+, Opera Mini 8+ */
    align-items: center;
    font-size: 18px;
    font-weight: 700;
    line-height: 40px;
    text-align: center;
  }
  .header_callus_tel {
    width: 186px;
    color: white;
    font-weight: 700;
    border-left: solid 1px #353b42;
    border-right: solid 1px #353b42;
  }
  .zmdi-phone {
    color: rgba(255, 255, 255, 0.5);
  }
  .header_callus_text {
    width: 235px;
    border-right: solid 1px #353b42;
    font-weight: 300;
  }
  .header_wrapper_big {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 70px;
    background-color: white;
  }
  .header_wrapper_small {
    margin: 0 auto;
    height: 70px;
    max-width: 1200px;
    background-color: white;
    display: -webkit-box;
    /* Safari 3.1 - 6, Chrome < 21 (2009 Spec), UC Browser Android */
    display: -moz-box;
    /* Firefox 2 - 27 (2009 Spec), UC Mini */
    display: -ms-flexbox;
    /* IE10 (2012 Syntax) */
    display: -webkit-flex;
    /* Safari 6.1 - 8, Android < 4.4, BB < 10, Chrome 21 - 28 */
    display: flex;
    /* Edge 12+, Firefox 28+, Blink, Safari 9+, Opera Mini 8+ */
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 500;
    box-sizing: border-box;
  }
  .header_logo {
    width: 175px;
    height: 47px;
  }
  .header_menu {
    display: -webkit-box;
    /* Safari 3.1 - 6, Chrome < 21 (2009 Spec), UC Browser Android */
    display: -moz-box;
    /* Firefox 2 - 27 (2009 Spec), UC Mini */
    display: -ms-flexbox;
    /* IE10 (2012 Syntax) */
    display: -webkit-flex;
    /* Safari 6.1 - 8, Android < 4.4, BB < 10, Chrome 21 - 28 */
    display: flex;
    /* Edge 12+, Firefox 28+, Blink, Safari 9+, Opera Mini 8+ */
    justify-content: center;
    width: 60%;
  }
  .header_menu li {
    display: block;
    float: left;
    font-size: 18px;
    font-weight: 500;
    color: #111820;
    padding: 20px;
  }
  .header_menu li:first-of-type {
    padding-left: 0px;
  }
  .header_menu li:last-of-type {
    padding-right: 0px;
  }
  .header_menu_main {
    max-width: 475px;
  }
}

@media screen and (min-width: 872px) and (max-width: 870px) {
  .header_menu_main {
    font-size: 16px;
    padding: 5px;
  }
}

@media screen and (min-width: 872px) {
  .header_cart {
    display: -webkit-box;
    /* Safari 3.1 - 6, Chrome < 21 (2009 Spec), UC Browser Android */
    display: -moz-box;
    /* Firefox 2 - 27 (2009 Spec), UC Mini */
    display: -ms-flexbox;
    /* IE10 (2012 Syntax) */
    display: -webkit-flex;
    /* Safari 6.1 - 8, Android < 4.4, BB < 10, Chrome 21 - 28 */
    display: flex;
    /* Edge 12+, Firefox 28+, Blink, Safari 9+, Opera Mini 8+ */
    width: 20%;
    justify-content: flex-end;
  }
  .header_cart_call-button {
    width: 100%;
    height: 35px;
    cursor: pointer;
    border-style: solid;
    border-width: 1px;
    border-color: #0071ba;
    background-color: white;
    box-sizing: border-box;
    color: #0071ba;
    font-size: 10px;
    text-decoration: none;
    font-weight: bold;
    font-weight: 700;
    outline: none;
  }
  .header_cart_call-button:hover {
    background-color: #0063a6;
    color: white;
  }
  .header_cart_call-button:active {
    transform: translateY(1px);
  }
  .header_cart_call {
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    font-size: 8px;
  }
  .header_cart_call-tel {
    display: block;
    font-family: "MuseoSansCyrl";
    font-weight: 300;
    font-size: 9px;
    padding: 5px 0;
  }
  .header_cart_buy {
    display: -webkit-box;
    /* Safari 3.1 - 6, Chrome < 21 (2009 Spec), UC Browser Android */
    display: -moz-box;
    /* Firefox 2 - 27 (2009 Spec), UC Mini */
    display: -ms-flexbox;
    /* IE10 (2012 Syntax) */
    display: -webkit-flex;
    /* Safari 6.1 - 8, Android < 4.4, BB < 10, Chrome 21 - 28 */
    display: flex;
    /* Edge 12+, Firefox 28+, Blink, Safari 9+, Opera Mini 8+ */
    align-self: center;
    padding: g;
  }
  .shopping-cart_number {
    top: -10px;
    left: -5px;
  }
}

@media screen and (min-width: 1010px) {
  .header_cart_call {
    font-size: inherit;
  }
  .header_cart_call-button {
    font-size: inherit;
    width: 225px;
  }
  .header_cart_call-tel {
    font-size: 16px;
    padding: 5px;
  }
}

.main-page_video {
  position: relative;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.main-page_video-video {
  position: absolute;
  z-index: -1;
  width: 100%;
  min-width: 390px;
}

.main-page_video_caption {
  z-index: 3;
  position: relative;
  top: 15%;
}

.main-page_video_caption .main-page_video-about {
  padding-top: 10px;
  font-size: 13px;
  line-height: 18px;
  margin-bottom: 10px;
}

@media (min-width: 480px) {
  .main-page_video_caption {
    top: 30%;
  }
  .main-page_video_caption .main-page_video-about {
    margin-bottom: 25px;
  }
}

@media (min-width: 768px) {
  .main-page_video_caption {
    top: 25%;
  }
  .main-page_video_caption .main-page_video-title {
    margin-bottom: 15px;
  }
  .main-page_video_caption .main-page_video-about {
    margin-bottom: 40px;
    font-size: 24px;
    line-height: 34px;
  }
}

.main-page_video-more {
  font-family: "MuseoSansCyrl";
  font-weight: 500;
  font-size: 18px;
  color: white;
  letter-spacing: 0;
  line-height: 22px;
  color: rgba(255, 255, 255, 0.5);
  padding-bottom: 50px;
}

.main-page_video-more .video_icon, .main-page_video-more .video-play {
  margin-bottom: 0;
  cursor: pointer;
}

.main-page_video-more .video_icon svg, .main-page_video-more .video-play svg {
  height: 50px;
  width: 50px;
}

@media (min-width: 768px) {
  .main-page_video-more {
    padding-bottom: 0;
  }
  .main-page_video-more .video_icon, .main-page_video-more .video-play {
    margin-bottom: 10px;
  }
}

.main-page_video-link {
  color: inherit;
  cursor: pointer;
  font-size: 12px;
  line-height: 20px;
}

@media (min-width: 768px) {
  .main-page_video-link {
    font-size: 18px;
    line-height: 22px;
  }
}

.main-page_video-link {
  color: inherit;
  cursor: pointer;
}

.main_page_video-scroll {
  visibility: hidden;
  position: absolute;
  left: calc(50% - 15px);
  bottom: 45px;
  color: rgba(255, 255, 255, 0.5);
  border-radius: 40px;
  padding: 8px 8px 20px;
  border: 2px solid rgba(255, 255, 255, 0.15);
}

.main_page_video-scroll i {
  font-size: 18px;
}

@media (min-width: 1024px) {
  .main_page_video-scroll {
    visibility: visible;
  }
}

.toShow {
  display: none;
}

.toHide {
  display: block;
}

.video_exit {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: transparent;
  color: #dddddd;
  border: none;
  outline: none;
  padding: 0;
  cursor: pointer;
}

.video-fullscreen_logo {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.3);
  left: 20px;
  top: 35px;
}

.video-play {
  background-color: #0071ba;
  height: 70px;
  width: 70px;
  position: absolute;
  top: calc(50% - 35px);
  left: calc(50% - 35px);
  z-index: 10;
  color: white;
  line-height: 70px;
  font-size: 35px;
  text-align: center;
  font-weight: 700;
  cursor: pointer;
  visibility: hidden;
  -webkit-transition: visibility 0.3s;
  -moz-transition: visibility 0.3s;
  -o-transition: visibility 0.3s;
  transition: visibility 0.3s;
}

.video-play:active {
  top: calc(50% - 35px);
}

:-webkit-full-screen {
  background: black;
}

:-moz-full-screen {
  background: black;
}

:-webkit-full-screen#fs_section_video.fs_section,
:-webkit-full-screen#fs_section_img.fs_section {
  width: 100%;
  left: 0;
  top: 0;
}

:-moz-full-screen#fs_section_video.fs_section,
:-moz-full-screen#fs_section_img.fs_section {
  width: 100%;
  left: 0;
}

:-webkit-full-screen#fs_section_img.fs_section #i1 {
  display: none;
}

:-moz-full-screen#fs_section_img.fs_section #i1 {
  display: none;
}

:-webkit-full-screen#fs_section_img.fs_section #i2 {
  display: block;
  z-index: 1;
}

:-moz-full-screen#fs_section_img.fs_section #i2 {
  display: block;
  z-index: 1;
}

:-webkit-full-screen#fs_section_img.fs_section #i3 {
  opacity: 1;
  display: block;
  z-index: 2;
  -webkit-transition: all 2s 2s ease-in-out;
}

:-moz-full-screen#fs_section_img.fs_section #i3 {
  opacity: 1;
  display: block;
  z-index: 2;
  -moz-transition: all 2s 2s ease-in-out;
}

.main_benefits {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 150px;
  display: -webkit-box;
  /* Safari 3.1 - 6, Chrome < 21 (2009 Spec), UC Browser Android */
  display: -moz-box;
  /* Firefox 2 - 27 (2009 Spec), UC Mini */
  display: -ms-flexbox;
  /* IE10 (2012 Syntax) */
  display: -webkit-flex;
  /* Safari 6.1 - 8, Android < 4.4, BB < 10, Chrome 21 - 28 */
  display: flex;
  /* Edge 12+, Firefox 28+, Blink, Safari 9+, Opera Mini 8+ */
  justify-content: center;
  align-items: center;
}

.main_benefits_container {
  white-space: nowrap;
  overflow-x: visible;
  overflow-y: hidden;
}

.main_benefits_single {
  display: inline-block;
  width: 300px;
  height: 380px;
  box-sizing: border-box;
  text-align: left;
  margin-bottom: 85px;
  overflow: hidden;
  white-space: normal;
  padding: 0 15px;
}

.main_benefits_single h3 {
  color: #111820;
  font-weight: 700;
  margin-top: 50px;
  margin-bottom: 20px;
}

.main_benefits_single p {
  display: block;
  font-family: "MuseoSansCyrl";
  font-weight: 300;
  font-size: 18px;
  color: #78787b;
  letter-spacing: 0;
  line-height: 26px;
}

.main_benefits_icon {
  width: 150px;
  height: 110px;
  align-self: flex-start;
}

@media screen and (min-width: 769px) {
  .main_benefits_container {
    display: -webkit-box;
    /* Safari 3.1 - 6, Chrome < 21 (2009 Spec), UC Browser Android */
    display: -moz-box;
    /* Firefox 2 - 27 (2009 Spec), UC Mini */
    display: -ms-flexbox;
    /* IE10 (2012 Syntax) */
    display: -webkit-flex;
    /* Safari 6.1 - 8, Android < 4.4, BB < 10, Chrome 21 - 28 */
    display: flex;
    /* Edge 12+, Firefox 28+, Blink, Safari 9+, Opera Mini 8+ */
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .main_benefits {
    padding-top: 100px;
  }
  .main_benefits_container {
    justify-content: space-between;
  }
  .main_benefits_single {
    width: 350px;
    padding: 0;
  }
}

@media (min-width: 769px) {
  .main_products {
    max-width: 1820px;
    margin: 0 auto;
  }
}

.main_products-single {
  width: 100%;
  margin-bottom: 15px;
  padding: 10px 10px;
  text-align: center;
  display: -webkit-box;
  /* Safari 3.1 - 6, Chrome < 21 (2009 Spec), UC Browser Android */
  display: -moz-box;
  /* Firefox 2 - 27 (2009 Spec), UC Mini */
  display: -ms-flexbox;
  /* IE10 (2012 Syntax) */
  display: -webkit-flex;
  /* Safari 6.1 - 8, Android < 4.4, BB < 10, Chrome 21 - 28 */
  display: flex;
  /* Edge 12+, Firefox 28+, Blink, Safari 9+, Opera Mini 8+ */
  justify-content: center;
  background-color: #111820;
  background-repeat: no-repeat;
}

.main_products-single:first-of-type {
  background-image: url("../img/products/furniture.png");
  background-size: 150%;
}

.main_products-single:nth-of-type(2) {
  background-image: url("../img/products/automatique.png");
  background-size: 100%;
}

.main_products-single:last-of-type {
  background-image: url("../img/products/filenka-sm.png");
  background-size: 100%;
}

.main_products-single:last-of-type .main_products-title {
  font-size: 18px;
  line-height: 28px;
}

@media (min-width: 620px) {
  .main_products-single:last-of-type .main_products-title {
    font-size: 24px;
    line-height: 34px;
  }
}

@media (min-width: 769px) {
  .main_products-single {
    margin-bottom: 50px;
    padding: 0 20px;
    text-align: left;
    align-items: center;
    height: 300px;
  }
  .main_products-single:first-of-type {
    background-image: url("../img/products/Product_1.png");
    background-size: 55%;
    background-position: right bottom;
  }
  .main_products-single:nth-of-type(2) {
    background-image: url("../img/products/Product_2.png");
    background-size: 30%;
    background-position: left 5% center;
  }
  .main_products-single:nth-of-type(2) .main_products-caption {
    padding-left: 50%;
    box-sizing: padding-box;
  }
  .main_products-single:last-of-type {
    background-image: url("../img/products/Product_3.png");
    background-size: 55%;
    background-position: right bottom;
  }
  .main_products-single:last-of-type .main_products-title {
    font-size: 30px;
    line-height: 40px;
  }
}

@media (min-width: 1024px) {
  .main_products-single {
    height: 400px;
  }
  .main_products-single:first-of-type {
    background-size: 55%;
    background-position: right 50px bottom;
  }
  .main_products-single:nth-of-type(2) {
    background-size: 30%;
    background-position: left 10% center;
  }
  .main_products-single:nth-of-type(2) .main_products-caption {
    padding-left: 50%;
  }
  .main_products-single:last-of-type {
    background-size: 55%;
    background-position: right bottom;
  }
  .main_products-single:last-of-type .main_products-title {
    font-size: 36px;
    line-height: 46px;
  }
}

@media (min-width: 1440px) {
  .main_products-single {
    height: 600px;
  }
  .main_products-single:first-of-type {
    background-size: 60%;
  }
  .main_products-single:last-of-type {
    background-size: 55%;
  }
}

@media (min-width: 1600px) {
  .main_products-single {
    height: 650px;
  }
  .main_products-single:first-of-type {
    background-size: 70%;
  }
  .main_products-single:nth-of-type(2) {
    background-position: left 17% center;
  }
  .main_products-single:nth-of-type(2) .main_products-caption {
    padding-left: 34%;
  }
  .main_products-single:last-of-type {
    background-size: 100%;
  }
}

.main_products-caption {
  width: 100%;
}

.main_products-category {
  font-size: 10px;
  line-height: 12px;
  margin-bottom: 15px;
  letter-spacing: 5px;
  text-align: left;
}

@media (min-width: 769px) {
  .main_products-category {
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 40px;
  }
}

@media (min-width: 1024px) {
  .main_products-category {
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 50px;
  }
}

.main_products-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 34px;
  margin-bottom: 15px;
  display: inline-block;
  background-color: rgba(17, 24, 32, 0.2);
}

@media (min-width: 769px) {
  .main_products-title {
    margin-bottom: 40px;
    font-size: 30px;
    line-height: 30px;
  }
}

@media (min-width: 1024px) {
  .main_products-title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 46px;
  }
}

.main_products-btn {
  padding: 15px;
  font-size: 12px;
  line-height: 14px;
  font-weight: 300;
  margin: 0 auto;
}

@media (min-width: 769px) {
  .main_products-btn {
    padding: 15px 35px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    margin: 0;
  }
}

@media (min-width: 1024px) {
  .main_products-btn {
    font-size: 18px;
    line-height: 22px;
  }
}

.main_partners {
  margin: 0 auto 40px;
  width: 100%;
}

.main_partners_wrapper {
  max-width: 1200px;
  margin: 0 auto 40px;
  padding-top: 40px;
}

.main_partenrs_container {
  height: 150px;
  white-space: nowrap;
  overflow-x: visible;
  overflow-y: hidden;
}

.main_partners_single {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  width: 150px;
}

.main_partners_single:last-of-type {
  margin-right: 0;
}

.main_partners_single img {
  display: -webkit-box;
  /* Safari 3.1 - 6, Chrome < 21 (2009 Spec), UC Browser Android */
  display: -moz-box;
  /* Firefox 2 - 27 (2009 Spec), UC Mini */
  display: -ms-flexbox;
  /* IE10 (2012 Syntax) */
  display: -webkit-flex;
  /* Safari 6.1 - 8, Android < 4.4, BB < 10, Chrome 21 - 28 */
  display: flex;
  /* Edge 12+, Firefox 28+, Blink, Safari 9+, Opera Mini 8+ */
  margin: 0 auto;
  max-width: 100%;
  text-align: center;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  /* Safari 6.0 - 9.0 */
  opacity: 0.9;
}

.main_partners_single img:hover {
  filter: grayscale(0);
  -webkit-filter: grayscale(0);
  /* Safari 6.0 - 9.0 */
  opacity: 1;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

@media screen and (min-width: 769px) {
  .main_partners {
    margin: 0 auto 150px;
  }
  .main_partners_wrapper {
    margin: 0 auto 100px;
    padding-top: 115px;
  }
  .main_partenrs_container {
    display: -webkit-box;
    /* Safari 3.1 - 6, Chrome < 21 (2009 Spec), UC Browser Android */
    display: -moz-box;
    /* Firefox 2 - 27 (2009 Spec), UC Mini */
    display: -ms-flexbox;
    /* IE10 (2012 Syntax) */
    display: -webkit-flex;
    /* Safari 6.1 - 8, Android < 4.4, BB < 10, Chrome 21 - 28 */
    display: flex;
    /* Edge 12+, Firefox 28+, Blink, Safari 9+, Opera Mini 8+ */
    justify-content: space-around;
    align-items: center;
    align-self: center;
    width: 100%;
  }
  .main_partners_single {
    display: -webkit-box;
    /* Safari 3.1 - 6, Chrome < 21 (2009 Spec), UC Browser Android */
    display: -moz-box;
    /* Firefox 2 - 27 (2009 Spec), UC Mini */
    display: -ms-flexbox;
    /* IE10 (2012 Syntax) */
    display: -webkit-flex;
    /* Safari 6.1 - 8, Android < 4.4, BB < 10, Chrome 21 - 28 */
    display: flex;
    /* Edge 12+, Firefox 28+, Blink, Safari 9+, Opera Mini 8+ */
    align-items: center;
    width: 200px;
  }
}

.main_feedback {
  margin: 0 auto;
  width: 100%;
}

.main_feedback_wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.main_feedback_number-container {
  width: 100%;
  text-align: right;
  margin-left: -15px;
}

.main_feedback_number-container img {
  width: 15px;
  height: 15px;
}

.main_feedback_container {
  margin: 0 auto;
  width: 100%;
  display: -webkit-box;
  /* Safari 3.1 - 6, Chrome < 21 (2009 Spec), UC Browser Android */
  display: -moz-box;
  /* Firefox 2 - 27 (2009 Spec), UC Mini */
  display: -ms-flexbox;
  /* IE10 (2012 Syntax) */
  display: -webkit-flex;
  /* Safari 6.1 - 8, Android < 4.4, BB < 10, Chrome 21 - 28 */
  display: flex;
  /* Edge 12+, Firefox 28+, Blink, Safari 9+, Opera Mini 8+ */
  justify-content: center;
  flex-flow: column;
}

.main_feedback_text {
  margin: 15px 15px;
  text-align: left;
  font-family: "MuseoSansCyrl";
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
}

.main_feedback_nameanddate {
  margin-left: 15px;
}

.main_feedback_gallery {
  width: 290px;
  align-self: center;
  margin-bottom: 20px;
}

.main_feedback_gallery-cont {
  display: -webkit-box;
  /* Safari 3.1 - 6, Chrome < 21 (2009 Spec), UC Browser Android */
  display: -moz-box;
  /* Firefox 2 - 27 (2009 Spec), UC Mini */
  display: -ms-flexbox;
  /* IE10 (2012 Syntax) */
  display: -webkit-flex;
  /* Safari 6.1 - 8, Android < 4.4, BB < 10, Chrome 21 - 28 */
  display: flex;
  /* Edge 12+, Firefox 28+, Blink, Safari 9+, Opera Mini 8+ */
}

.main_feedback_gallery-img {
  margin: 15px;
  align-self: center;
}

.main_feedback_gallery-img img {
  width: 100%;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  /* Safari 6.0 - 9.0 */
  opacity: 0.3;
}

.main_feedback_gallery-img img:hover {
  filter: grayscale(0);
  -webkit-filter: grayscale(0);
  /* Safari 6.0 - 9.0 */
  opacity: 1;
}

.main_feedback_feedback {
  width: 240px;
  height: 46px;
  align-self: center;
  margin-bottom: 50px;
}

@media screen and (min-width: 760px) {
  .main_feedback {
    margin: 0 auto 150px;
  }
  .main_feedback_wrapper {
    max-width: 1200px;
    margin: 0 auto 150px;
  }
  .main_feedback_number-container {
    width: 50%;
    margin-left: auto;
    display: -webkit-box;
    /* Safari 3.1 - 6, Chrome < 21 (2009 Spec), UC Browser Android */
    display: -moz-box;
    /* Firefox 2 - 27 (2009 Spec), UC Mini */
    display: -ms-flexbox;
    /* IE10 (2012 Syntax) */
    display: -webkit-flex;
    /* Safari 6.1 - 8, Android < 4.4, BB < 10, Chrome 21 - 28 */
    display: flex;
    /* Edge 12+, Firefox 28+, Blink, Safari 9+, Opera Mini 8+ */
    justify-content: space-between;
    align-items: right;
  }
  .main_feedback_number-container img {
    width: 30px;
    height: 30px;
    margin-left: -15px;
  }
  .main_feedback_container {
    width: 670px;
    display: -webkit-box;
    /* Safari 3.1 - 6, Chrome < 21 (2009 Spec), UC Browser Android */
    display: -moz-box;
    /* Firefox 2 - 27 (2009 Spec), UC Mini */
    display: -ms-flexbox;
    /* IE10 (2012 Syntax) */
    display: -webkit-flex;
    /* Safari 6.1 - 8, Android < 4.4, BB < 10, Chrome 21 - 28 */
    display: flex;
    /* Edge 12+, Firefox 28+, Blink, Safari 9+, Opera Mini 8+ */
    justify-content: center;
    flex-flow: column;
  }
  .main_feedback_number {
    font-family: "MuseoSansCyrl";
    font-weight: 300;
    font-size: 18px;
    color: #78787b;
    letter-spacing: 0;
    line-height: 26px;
  }
  .main_feedback_number span {
    font-size: 36px;
    font-weight: 500;
  }
  .main_feedback_text {
    width: 670px;
    margin: 40px 0;
    text-align: left;
    font-family: "MuseoSansCyrl";
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
  }
  .main_feedback_nameanddate {
    display: -webkit-box;
    /* Safari 3.1 - 6, Chrome < 21 (2009 Spec), UC Browser Android */
    display: -moz-box;
    /* Firefox 2 - 27 (2009 Spec), UC Mini */
    display: -ms-flexbox;
    /* IE10 (2012 Syntax) */
    display: -webkit-flex;
    /* Safari 6.1 - 8, Android < 4.4, BB < 10, Chrome 21 - 28 */
    display: flex;
    /* Edge 12+, Firefox 28+, Blink, Safari 9+, Opera Mini 8+ */
    width: 100%;
    justify-content: space-between;
    text-align: left;
    font-family: "MuseoSansCyrl";
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: #78787b;
    margin-bottom: 20px;
    margin-left: 0;
  }
  .main_feedback_gallery {
    width: 350px;
  }
  .main_feedback_feedback {
    margin-top: 35px;
  }
  .fantom {
    margin: 0 auto;
    height: 500px;
    padding: 100px;
    text-align: center;
  }
}

.lg-sub-html {
  display: none;
}

.main-page_certificates {
  padding-top: 40px;
  padding-bottom: 15px;
  background-color: #f7f7f7;
  margin-bottom: 30px;
}

@media (min-width: 768px) {
  .main-page_certificates {
    padding-top: 120px;
    padding-bottom: 140px;
    margin-bottom: 115px;
  }
}

.main-page_certificates .slider {
  width: auto;
  overflow: hidden;
}

.main-page_certificates .slides {
  margin: 0 auto;
  margin-bottom: 15px;
}

@media (min-width: 768px) {
  .main-page_certificates .slides {
    margin-bottom: 45px;
  }
}

.main-page_certificates .slide {
  display: inline-block;
  height: 150px;
  width: 117px;
  margin: 0 5px;
}

.main-page_certificates .slide img {
  display: block;
  height: 100%;
  width: auto;
  filter: brightness(0.9) grayscale(100%);
  -webkit-transition: filter 0.3s;
  -moz-transition: filter 0.3s;
  -o-transition: filter 0.3s;
  transition: filter 0.3s;
}

.main-page_certificates .slide img:hover {
  filter: none;
}

@media (min-width: 768px) {
  .main-page_certificates .slide {
    height: 347px;
    width: 270px;
    margin: 0 17px;
  }
}

.main-page_certificates .controls {
  text-align: center;
}

.main-page_certificates .slider_btn {
  display: inline-block;
  width: 18px;
  height: 46px;
  color: #dddddd;
  outline: none;
  border: none;
  background-color: transparent;
  padding: 0;
}

.main-page_certificates .slider_btn svg {
  width: 18px;
  height: 33px;
}

.main-page_certificates .slider_btn:hover svg > g {
  stroke: #0071ba;
}

.main-page_certificates .slider_btn:active {
  padding: 0;
}

.slider_controls-line {
  display: inline-block;
  height: 33px;
  width: 2px;
  background-color: #dddddd;
  margin: 0 15px;
}

.main-page_certificates_title {
  margin-bottom: 40px;
}

@media (min-width: 768px) {
  .main-page_certificates_title {
    margin-bottom: 100px;
  }
}

.main-page_certificates > .slider {
  margin-bottom: 45px;
}

.callback_form_wrapper-small {
  margin: 0 auto;
  width: 320px;
  display: -webkit-box;
  /* Safari 3.1 - 6, Chrome < 21 (2009 Spec), UC Browser Android */
  display: -moz-box;
  /* Firefox 2 - 27 (2009 Spec), UC Mini */
  display: -ms-flexbox;
  /* IE10 (2012 Syntax) */
  display: -webkit-flex;
  /* Safari 6.1 - 8, Android < 4.4, BB < 10, Chrome 21 - 28 */
  display: flex;
  /* Edge 12+, Firefox 28+, Blink, Safari 9+, Opera Mini 8+ */
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.callback_form_wrapper-small h2 {
  margin-bottom: 25px;
  align-self: flex-start;
  margin-left: 10px;
}

.callback_form_wrapper-small p {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #0d223f;
  margin: 0 10px;
}

.callback_form_wrapper-small span {
  display: inline-block;
  font-size: 14px;
  line-height: 18px;
  color: #78787b;
  align-self: flex-start;
  margin: 0 10px;
}

.form_callback {
  width: 320px;
  margin: 20px;
  border-bottom: solid 2px #78787b;
  text-align: center;
  padding: 20px;
}

.form_callback input, .form_callback button {
  box-sizing: border-box;
  margin: 0 auto;
  width: 280px;
  height: 46px;
}

.form_callback input {
  border: 1px solid #dddddd;
  background-color: #f7f7f7;
  outline: none;
  margin: 0 0 20px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #111820;
  text-align: center;
}

@media screen and (min-width: 550px) {
  .main_callback {
    margin: 0 auto;
    width: 100%;
    height: 685px;
    box-sizing: border-box;
    display: -webkit-box;
    /* Safari 3.1 - 6, Chrome < 21 (2009 Spec), UC Browser Android */
    display: -moz-box;
    /* Firefox 2 - 27 (2009 Spec), UC Mini */
    display: -ms-flexbox;
    /* IE10 (2012 Syntax) */
    display: -webkit-flex;
    /* Safari 6.1 - 8, Android < 4.4, BB < 10, Chrome 21 - 28 */
    display: flex;
    /* Edge 12+, Firefox 28+, Blink, Safari 9+, Opera Mini 8+ */
    justify-content: center;
    background-color: #f7f7f7;
  }
  .main_callback_left,
  .main_callback_right {
    align-self: flex-end;
    width: 100%;
    height: 90%;
    background-repeat: no-repeat;
    background-clip: content-box;
    background-size: auto;
  }
  .main_callback_left {
    background-image: url("../img/bg_left.png");
    background-position: left bottom;
  }
  .main_callback_right {
    background-image: url("../img/bg_right.png");
    background-position: right bottom;
  }
  .main_callback_center {
    width: 525px;
    display: -webkit-box;
    /* Safari 3.1 - 6, Chrome < 21 (2009 Spec), UC Browser Android */
    display: -moz-box;
    /* Firefox 2 - 27 (2009 Spec), UC Mini */
    display: -ms-flexbox;
    /* IE10 (2012 Syntax) */
    display: -webkit-flex;
    /* Safari 6.1 - 8, Android < 4.4, BB < 10, Chrome 21 - 28 */
    display: flex;
    /* Edge 12+, Firefox 28+, Blink, Safari 9+, Opera Mini 8+ */
    justify-content: center;
    align-items: center;
  }
  .callback_form_wrapper {
    width: 525px;
    height: 585px;
    display: -webkit-box;
    /* Safari 3.1 - 6, Chrome < 21 (2009 Spec), UC Browser Android */
    display: -moz-box;
    /* Firefox 2 - 27 (2009 Spec), UC Mini */
    display: -ms-flexbox;
    /* IE10 (2012 Syntax) */
    display: -webkit-flex;
    /* Safari 6.1 - 8, Android < 4.4, BB < 10, Chrome 21 - 28 */
    display: flex;
    /* Edge 12+, Firefox 28+, Blink, Safari 9+, Opera Mini 8+ */
    justify-content: center;
    align-items: center;
    background-color: white;
  }
  .callback_form_wrapper-small {
    width: 440px;
    height: 500px;
    border: solid 1px #78787b;
  }
  .callback_form_wrapper-small h2 {
    margin-left: 0;
    margin-bottom: 45px;
    align-self: center;
  }
  .callback_form_wrapper-small p {
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    margin: 0 40px;
  }
  .callback_form_wrapper-small span {
    font-size: 18px;
    line-height: 26px;
    color: #78787b;
  }
  .form_callback {
    width: 357px;
  }
  .form_callback input, .form_callback button {
    box-sizing: border-box;
    margin: 0 auto;
    width: 280px;
    height: 46px;
  }
  .form_callback input {
    border: 1px solid #dddddd;
    background-color: #f7f7f7;
    outline: none;
    margin: 0 0 20px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #111820;
    text-align: center;
  }
}

footer {
  display: -webkit-box;
  /* Safari 3.1 - 6, Chrome < 21 (2009 Spec), UC Browser Android */
  display: -moz-box;
  /* Firefox 2 - 27 (2009 Spec), UC Mini */
  display: -ms-flexbox;
  /* IE10 (2012 Syntax) */
  display: -webkit-flex;
  /* Safari 6.1 - 8, Android < 4.4, BB < 10, Chrome 21 - 28 */
  display: flex;
  /* Edge 12+, Firefox 28+, Blink, Safari 9+, Opera Mini 8+ */
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80px;
  margin: 0 auto;
  background-color: white;
  box-sizing: border-box;
}

.footer_wrapper {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
  display: -webkit-box;
  /* Safari 3.1 - 6, Chrome < 21 (2009 Spec), UC Browser Android */
  display: -moz-box;
  /* Firefox 2 - 27 (2009 Spec), UC Mini */
  display: -ms-flexbox;
  /* IE10 (2012 Syntax) */
  display: -webkit-flex;
  /* Safari 6.1 - 8, Android < 4.4, BB < 10, Chrome 21 - 28 */
  display: flex;
  /* Edge 12+, Firefox 28+, Blink, Safari 9+, Opera Mini 8+ */
  justify-content: space-between;
  align-items: center;
}

.footer_wrapper .header_menu {
  justify-content: flex-start;
}

.footer_copyright {
  font-family: "MuseoSansCyrl";
  font-weight: 500;
  font-size: 18px;
  color: #78787b;
}

@media screen and (max-width: 872px) {
  footer {
    height: 40px;
    background-color: #111820;
  }
  .footer_wrapper {
    width: 100%;
    justify-content: center;
  }
  .footer_wrapper .header_menu {
    display: none;
  }
  .footer_copyright {
    text-align: center;
  }
}

.breadcrumbs_wrapper {
  margin: 0 auto;
  max-width: 1200px;
}

.contacts_feedback {
  width: 100%;
  text-align: center;
  margin-bottom: 100px;
}

.page-contacts_h2 {
  padding-top: 100px;
  text-align: center;
  font-family: "MuseoSansCyrl";
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  color: #111820;
}

.page-contacts_h2::before {
  content: none;
}

.contacts_feedback p {
  font-family: "MuseoSansCyrl";
  font-weight: 300;
  color: #111820;
  font-size: 24px;
  line-height: 30px;
  padding: 24px;
}

.contacts_feedback button {
  margin: 0 auto;
}

.contacts_feedback span {
  display: inline-block;
  font-family: "MuseoSansCyrl";
  font-weight: 300;
  font-size: 18px;
  color: #111820;
  letter-spacing: 0;
  line-height: 26px;
  padding-top: 24px;
}

.page-contacts_wrapper {
  width: 100%;
  margin: 0 auto;
  background-color: #f7f7f7;
  position: relative;
}

.page-contacts_wrapper-small {
  max-width: 1200px;
  margin: 0 auto;
  display: -webkit-box;
  /* Safari 3.1 - 6, Chrome < 21 (2009 Spec), UC Browser Android */
  display: -moz-box;
  /* Firefox 2 - 27 (2009 Spec), UC Mini */
  display: -ms-flexbox;
  /* IE10 (2012 Syntax) */
  display: -webkit-flex;
  /* Safari 6.1 - 8, Android < 4.4, BB < 10, Chrome 21 - 28 */
  display: flex;
  /* Edge 12+, Firefox 28+, Blink, Safari 9+, Opera Mini 8+ */
}

.contacts_map {
  position: absolute;
  width: 50%;
  height: 100%;
  right: 0;
  top: 0;
}

.contacts_contacts {
  width: 50%;
}

.contacts_contacts h2 {
  margin-bottom: 42px;
}

.page-contacts_list li {
  max-width: 100%;
  margin-bottom: 30px;
  font-family: "MuseoSansCyrl";
  font-weight: 300;
  font-size: 18px;
  line-height: 26px;
  position: relative;
  padding-left: 30px;
}

.page-contacts_list li .zmdi {
  color: #0071ba;
  position: absolute;
  left: 0;
  top: 2px;
}

.contacts_bold {
  font-family: "MuseoSansCyrl";
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}
 

 /*# sourceMappingURL= main.css.map */